#home-section .sign-up-now{
    margin-left: 10vw;;
}
.how{
    margin-top: 10vh;
}
.about{
    padding-top: 12vh;
}
.home{
    padding-top: 3vh;
}
.contact{
    padding-top: 10vh;
}
.login-header{
    background:rgba(50, 146, 166, 0.8);;
}


